<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="XeroPHP">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true"/>

    <source>
        <include>
            <directory suffix=".php">./lib/Api</directory>
            <directory suffix=".php">./lib/Models/Identity</directory>
        </include>
    </source>
</phpunit>
